.events{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: gainsboro;     */
    flex-direction: column;
}

.eventCard{
    margin: 20px;
    width: 400px;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.eventCard:hover{
    transform: scale(1.2);
}