body{
    margin: 0px;
}
.container{
    border: 0px;
}

div{
    border: 1px solid;
    border-color: black;
    text-align: center;
    
}
.header{
    height: 100px;
}
.navBar{
    text-align: right;
}
.navBarElement{
    display: inline-block;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.carousel{
    height: 650px;
    background-image: url("https://picsum.photos/2000/650");
}
.carousel h1{
    background-color: white;
}
.footer{
    height: 300px;
}
.contactDeets{
    display: inline-block;
    height: 300px;
    width: 50%;
}
.links{
    height: 300px;
    width: 49.7%;
    float: right;
}
.about{
    height: 700px;
}
.eventCard{
    display: inline-block;
    margin: 20px;
}
.testimonial{
    display: inline-block;
    height: 400px;
    width: 30%;
    margin: 20px;
}