.sideMenu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgb(29, 0, 20);
  display: grid;
  align-items: center;
  top: 0;
  left: 100%;
  transition: 0.3s ease-in-out;
}

.visible{
    left: 0;
}

ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
}