.carouselItem{
    height: 700px;
    width: 100%;
}
.carousel-caption{
    border: 0px;
}
.carousel-indicators{
    border: 0px;
}
.visually-hidden{
    visibility: hidden;
}

.carousel{
    height: 700px;
    background-color: yellow;
}

