.app{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    scroll-behavior: smooth;
    background: #1D0014;
    color: white;
}

.app .sections{
    height: 100vh;
    width: 100%;
}

.sections::-webkit-scrollbar{
    display: none;
}

.sections .homepageContainer{
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
}

.sections > *{
    height: 100vh;
    width: 100%;
}

.app .homepageContainer{
    height: 100vh;
}

