body{
    margin: 0px;
    width: 100%;
}
div{
    border: 1px solid;
    border-color: black;
    text-align: center;
}
.header{
    height: 100px;
}
.carouselItem{
    height: 700px;
    width: 100%;
}
.carousel-caption{
    border: 0px;
}
.carousel-indicators{
    border: 0px;
}
.navBar{
    text-align: right;
}
.navBarElement{
    display: inline-block;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.carousel{
    height: 700px;
}
.footer{
    height: 300px;
}
.contactDeets{
    display: inline-block;
    height: 300px;
    width: 50%;
}
.links{
    height: 300px;
    width: 49.7%;
    float: right;
}
.about{
    height: 700px;
}
.eventCard{
    display: inline-block;
    margin: 20px;
}
.testimonial{
    display: inline-block;
    height: 400px;
    width: 30%;
    margin: 20px;
}